.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.search {
    width: 20vw;
    display: flex;

    background-color: var(--bgSoftest);
    padding: 10px;
    border-radius: 20px;
    gap: 5px;
}

.input,
.input:focus {
    background-color: transparent;
    border: none;
    color: var(--text);
    font-size: 15px;
    outline: none;
    font-family: 'PoppinsBold';
    width: 80%;
    margin-left: 10px;
}

.clip {
    display: flex;
}
.clip::-webkit-scrollbar {
    display: none;
}

.friendslist {
    flex: 1;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 60vw;
    height: 60vh;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-snap-type: y mandatory;
}
.friendslist li {
    width: 100%;
}

.friendcard {
    scroll-snap-align: center;
}

.container:not(ul:empty) .noitems {
    display: none;
}

.container:has(ul:empty) .noitems {
    padding: 20px;
    border-radius: 20px;
    background-color: var(--bgSofter);
    display: flex;
    box-shadow: 0px 0px 7px #c6d8fd;
}
