.container {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formcontainer {
    background-color: var(--bgSofter);
    border-radius: 40px;
    width: clamp(400px, 30vw, 550px);
    height: auto;
    box-shadow: 0px 0px 7px #c6d8fd;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header {
    flex: 1;
    text-align: center;
}

.header h1 {
    margin-bottom: -20px;
    font-family: 'PoppinsBold';
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding-top: 40px;
    width: 100%;
}

.info {
    color: var(--textSoft);
}

.instructions {
    background-color: var(--bgSoft);
    border: 1px var(--text) solid;
    border-radius: 10px;
    padding: 5px 12px 5px 12px;
    margin: 0px;
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.username,
.password,
.passwordmatch,
.username:focus,
.password:focus,
.passwordmatch:focus {
    width: 80%;
    height: 10%;
    padding: 20px;
    border: none;
    background-color: var(--bgSoftest);
    color: var(--text);
    font-family: 'PoppinsBold';
    border-radius: 40px;
    outline: none;
}

.validinput {
    box-shadow: 2px 2px 2px green;
}
.incorrectinput {
    box-shadow: 2px 2px 2px darkred;
}

.submit {
    margin-top: 20px;
    width: 80%;
    color: var(--text);
    padding: 10px;
    border-radius: 40px;
    border: none;
    background-color: var(--bgSoftest);
    transition: all 0.2s ease-out;
    font-family: 'PoppinsBold';
    box-shadow: 2px 2px 2px var(--textSoft);
}

.submit:disabled {
    background-color: #d3d3d3;
    box-shadow: 2px 2px 2px rgb(157, 139, 185);
    color: var(--textSoft);
}

.submit:not(:disabled):hover {
    background-color: var(--bgDark);
    color: var(--bgSofter);
    box-shadow: 2px 2px 2px var(--bgSoftest);
}

.footer {
    font-size: 14px;
    padding: 0px;
    text-align: center;
}

.footer p {
    padding: 0;
    margin: 0;
}

.link {
    text-decoration: underline;
}

.link:hover {
    text-decoration: underline solid var(--textSofter);
}

.notvisible {
    display: none;
}

.error {
    padding: 5px 10px 5px 10px;
    margin: 0%;
    background-color: rgba(188, 63, 63, 0.5);
    box-shadow: 0px 0px 7px rgba(188, 63, 63, 0.5);
    width: 75%;
    display: flex;
    align-items: center;
    border-radius: 20px;
}

.erroricon,
.errormessage {
    padding: 0;
    margin: 0;
}

.success {
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    background-color: var(--bgSofter);
    box-shadow: 0px 0px 7px rgba(0, 128, 0, 0.5);
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.successicon,
.successmessage {
    padding: 0;
    margin: 0;
    color: green;
}
